// Import page-specific CSS files here.
@import "home";

.container-fluid {
  height: 100vh;
}

.row {
  height: 100%;
}

.navbar-add {
  color: white;
}

.background-white {
  background: white;
}

.dog-picture {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.container-fluid.background-white {
  padding: 0;
}

.col {
  text-align: center;
  width: 100%;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 2rem;
}

h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}

.content-dogs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.content-dog {
  width: 100%;
}
