h3 {
  font-family: 'Canela Web';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-size: 4rem;
}

.fullscreen-img {
  object-fit: cover;
  height: 100vh;
}

a {
  color: black;
}


.p-tag {
  font-size: .7rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h4 {
  font-family: Canela;
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
  font-size: 2rem;
}
