h3 {
  font-family: 'Canela Web';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-size: 5rem;
  padding-bottom: 2rem;
}

.fullscreen-img {
  object-fit: cover;
  height: 100vh;
}

a {
  color: black;
}

.p-tag {
  font-size: .7rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'Open Sans';
  font-weight: 400;
  margin-bottom: .7rem;
}

.dog-tag {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-size: 1rem;
}

h4 {
  font-family: 'Canela Web';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-size: 3rem;
}

.capitalize {
  text-transform: capitalize;
}
