.navbar-lewagon {
  justify-content: space-between;
  background-color: transparent;
  transition: 0.5s background-color ease;
}

.navbar-lewagon-white {
  background-color: black;
  border-bottom: 1px solid black;
}

.navbar-lewagon-black {
  background-color: white;
  border-bottom: 1px solid black;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand {
  color: white;
  font-weight: 600;
  font-size: 1.3rem;
  font-family: 'Canela Web';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-size: 1.3rem;
  text-align: center;
}

.navbar-brand:hover {
  color: #cffcba;
}

a.nav-link {
  color: white;
}

.nav-link {
  padding: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-collapse {
  flex-grow: 0;
}

.navbar.fixed-bottom {
  height: 60px;
}

.map-icon-size {
  width: 35px;
}

.user-icon-size {
  width: 35px;
}

.airdog {
  color: #437673;
  font-weight: 600;
}

.airdog:hover {
  text-decoration: none;
  color: #d8fdc7;
}

.navbar-add {
  font-weight: 500;
  color: white;
  letter-spacing: .1rem;
}

.navbar-add:hover{
  text-decoration: none;
  color: white;
}

.navbar.fixed-bottom {
  background: black;
  transition: background 2s;
}

.navbar.fixed-bottom:hover {
  background: linear-gradient(90deg, rgba(118,184,139,1) 0%, rgba(67,118,115,1) 47%, rgba(91,170,117,1) 100%);
}
