.navbar-collapse {
  flex-grow: 0;
}

.navbar {
  height: 50px;
  justify-content: space-between;
  background: white;
}

.map-icon {
  width: 15px;
}

.user-icon {
  width: 18px;
}

.airdog {
  color: black;
  font-weight: 600;
}

.navbar-add {
  font-weight: 600;
}
